/* Includo i font */
@font-face {
  /*Bodoni Mt Bold Italic (Titoli)*/
  font-family: bodoni-mt-bold-italic;
  src: url(../fonts/bodoni_mt_bold_italic.TTF);

  /*Bodoni Book (Paragrafi)*/
  font-family: bodoni-book;
  src: url(../fonts/bodoni_book.TTF);
}

h1,h2,h3,h4{
  font-family: bodoni-mt-bold-italic, Verdana, Arial;
}

p{
  font-family: bodoni-book, Verdana, Arial;
}

.navbar{
  min-height: 30vh;
  background-color: red;
}

.firstPage{
  min-height: 70vh;
  background-color: blue;
}
