/****************************************************
Includo il Bodoni Bold
****************************************************/
@font-face {
  /*Bodoni Mt Bold Italic (Titoli)*/
  font-family: bodoni-mt-bold-italic;
  src: url(../fonts/bodoni_mt_bold_italic.TTF);
}

/****************************************************
Includo il Bodoni Book
****************************************************/
@font-face{
  /*Bodoni Book (Paragrafi)*/
  font-family: bodoni-book;
  src: url(../fonts/bodoni_book.TTF);
}

/****************************************************
Titoli
****************************************************/
h1,h2,h3,h4{
  font-family: bodoni-mt-bold-italic, Verdana, Arial;
  color: #209AA7;
}

/****************************************************
Paragrafi
****************************************************/
p,ul,ol,li,button{
  font-family: bodoni-book, Verdana, Arial;
  font-size: 20px;
}

/****************************************************
Navbar
****************************************************/
.navbar{
  min-height: 30vh;
}

.navbar img{
  max-width: 300px;
  margin-left: auto !important;
  margin-right: auto !important;
}

/****************************************************
Background
****************************************************/
.bg-white{
  background-color: #FFF;
  padding: 80px 25px;
}

.bg-yellow{
  background: url('../img/brick-background.svg'), linear-gradient(rgba(247,199,94, 1), rgba(247,199,94,1));
  background-size: 500px;
  padding: 80px 15px;
}

/****************************************************
Il Progetto
****************************************************/
.the-project .btn-red{
  background: #FB6C5D;
  color: #FFF;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
}

.the-project .btn-red:hover{
  background: #F87D72;
}

/****************************************************
Come Funziona
****************************************************/
.how-it-works img{
  max-width: 400px;
}

/****************************************************
Chi Siamo
****************************************************/
.who-we-are .circle-who-we-are{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #F6C755;
  margin: 0 auto;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  box-shadow: -5px 5px 0px #DBDBDB;
}

.who-we-are .sign-who-we-are{
  margin-top: 10px;
  font-size: 1.3rem;
}

/****************************************************
Footer
****************************************************/
footer hr{
  background: #FFF;
  max-width: 1200px;
}

footer img{
  width: 50px;
  margin: 0px 10px;
}

/****************************************************
Video Youtube
****************************************************/
.youtube_video{
  height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
  box-shadow: -5px 5px 0px #DBDBDB;
}
.youtube_video iframe,
.youtube_video object,
.youtube_video embed {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*******************************************************************************
Media queries
*******************************************************************************/

@media (max-width: 576px) {

  .navbar{
    min-height: 20vh !important;
  }

  navbar img{
    max-width: 200px !important;
  }

  .bg-white{
    padding: 25px 25px !important;
  }

  .bg-yellow{
    padding: 25px 15px !important;
  }

}
